<div class="inner">
  <header class="major">
    <h2>Accomodations</h2>
  </header>
  <p class="hotel-address">
    Country Inn & Suites<br>
    5579 Spectrum Drive<br>
    Frederick, MD 21703
  </p>
  <p>
  We have reserved a block of King and Double Queen rooms at Country Inn & Suites available for Friday and Saturday nights. You can reserve one of these rooms by calling 301-695-2881 and mentioning the Wilkinson-Bolchoz wedding or by <a href="https://www.countryinns.com/frederickmdwilkinsonbolchozwedding">using our booking link</a>. In order to secure the discounted rate, please book by October 1, 2019.
  </p>
  <p>
  There are also many other nearby hotels including: Hilton Garden Inn Frederick, Hampton Inn Frederick, and Fairfield Inn & Suites.
  </p>
  <p>
  Shuttle service will be provided from the Country Inn & Suites to the ceremony as well as back to the hotel after the reception. More details on shuttle times to follow.
  </p>
</div>
