<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>November 02, 2019</p>

	<p>Holly Hills Country Club<br>
  5502 Mussetter Rd<br>
	Ijamsville, MD 21754</p>

	<p>
	5:00 PM - Ceremony<br>
	5:30 PM - Cocktail Hour<br>
	6:30 PM - Reception
	</p>

	<p>
	<!-- <a target="_blank" href="#">Add this event to Google Calendar</a> -->
	</p>
  <p>
    We will be having an unplugged ceremony at our wedding. We invite you to be fully present with us during this special moment. Please no cameras or cell phones until after the ceremony. Once we receive the professional images from our photographer, we will be happy to share them with you!
  </p>

	<p>Share photos with the hashtag <strong>#KristenAndTy</strong></p>
  </header>
</div>
