<div class="inner">
  <header class="major">
  <h2>Registry</h2>
	<p>Your love, laughter and company on our wedding day is the greatest gift of all. However, should you wish to help us celebrate with a gift, our registries are held at the following places:</p>
  <a href="https://www.amazon.com/wedding/kristen-wilkinson-tyler-bolchoz-ijamsville-november-2019/registry/8CBN9Z85OA74">Amazon</a>
  <br>
  <br>
	<a href="https://www.crateandbarrel.com/gift-registry/kristen-wilkinson-and-tyler-bolchoz/r5925281">Crate & Barrel</a>
  </header>
</div>
